.App {
  font-family: sans-serif;
  font-size: 26px;
  text-align: left;
  width: 100%;
  padding-top: 30px;
}

.programs {
  position: absolute;
  background: rgba(22, 61, 97, 0.794);
  left: 50%;
  height: 500px;
  width: 40%;
  transform: translate(-50%, 0%);
  text-align: center;
  color: rgba(31, 226, 80, 0.671);
}

.radioSel{
  margin-left: 30px;
}
.parentInputs {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  margin-left: 10px;
  width: 250px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(245, 240, 240, 0.925);
  color: rgb(5, 19, 66);
  outline: none;
}


.title
{
  color:rgba(255, 166, 0, 0.897)
}
.parentLabels {
  
  padding-bottom: 20px;
}
.enrolContainer {
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 450px;
  text-align: center;
  display: flex;
}
.enrolForm {
  width: 100%;
  transition: 0.2s;
}

.inputFields {
  margin: 10px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgb(13, 138, 65);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgb(245, 240, 240);
  color: rgb(5, 19, 66);
  outline: none;
}
.ulEnrol {
  list-style-type: none;
  padding: 0;
}
.btn
{
  border: 1px solid;
  background: rgb(50, 58, 59);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 30px;
}
#btnCancel {
 margin-left:20px;
}

::placeholder {
  color: rgba(83, 70, 70, 0.596);
  opacity: 1;
}
.message {
  color:rgba(31, 226, 80, 0.671);
}
.actionIcon {
  font-size: 16px;
  color: rgb(77, 133, 141);
  cursor: pointer;
}
