.enrolList
{
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 450px;
    text-align: center;
    display: flex;
}
div[role="checkbox"]
{
    display: none;
}
