.App {  
  font-family: sans-serif;
  font-size: 26px;
  text-align: left;
  width: 100%;
  padding-top: 50px;
  float: left;
}
.programs {
  padding-left: 100px;
  width: 100%;
  float: left;
}
.appDropDowns {
  color: black;
  font-family: inherit;
  font-size: inherit;
  margin-left: 10px;
}
